.navbar .navbar-inner{
background: rgb(37,83,144); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(37,83,144,1) 0%, rgba(32,124,202,1) 50%, rgba(37,83,144,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(37,83,144,1)), color-stop(50%,rgba(32,124,202,1)), color-stop(100%,rgba(37,83,144,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(37,83,144,1) 0%,rgba(32,124,202,1) 50%,rgba(37,83,144,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(37,83,144,1) 0%,rgba(32,124,202,1) 50%,rgba(37,83,144,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(37,83,144,1) 0%,rgba(32,124,202,1) 50%,rgba(37,83,144,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(37,83,144,1) 0%,rgba(32,124,202,1) 50%,rgba(37,83,144,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#255390', endColorstr='#255390',GradientType=1 ); /* IE6-9 */


}
